body {
  padding-top: 25px; }

span.file-location {
  color: #BDBDBD; }

.memberdef {
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  box-shadow: 0px 2px 5px #CCC;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5;
  margin: 5px;
  padding: 5px; }
  .memberdef h3 {
    margin-top: 0px;
    padding-top: 3px;
    font-size: 20px;
    line-height: normal; }

table.compound-view tr {
  margin: 4px; }
  table.compound-view tr td {
    font-size: 11px; }
  table.compound-view tr a {
    transition: background-color 0.1s;
    -webkit-transition: background-color 0.1s;
    display: block;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFF;
    height: 60px;
    background-color: #EEE;
    text-align: center;
    padding: 5px;
    color: #222; }
    table.compound-view tr a b {
      color: #0D5484; }
  table.compound-view tr a:hover {
    text-decoration: none;
    background-color: #DDD; }

img {
  border-radius: 5px; }

code {
  display: block;
  white-space: pre; }

/** Needs a bit of resetting since it can turn out basically anywhere in the DOM */
.tooltip {
  margin: 0px;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  line-height: normal;
  white-space: normal;
  font-family: Hevetica, Arial, Sans-serif;
  text-shadow: none; }
  .tooltip p {
    display: inline;
    margin: 0px; }

.label {
  margin-right: 2px;
  margin-left: 2px; }

.member-side-prot {
  position: absolute;
  left: -75px;
  width: 70px;
  text-align: right; }
  .member-side-prot span {
    margin-bottom: 3px; }

.empty-section {
  font-size: 0.9em;
  color: #BBB; }

.compound-kind {
  color: #888; }

.simplesect {
  border-style: solid;
  border-width: 0px 0px 0px 4px;
  padding-left: 5px; }
  .simplesect h3 {
    font-size: 16px;
    line-height: normal;
    margin-top: 2px;
    margin-bottom: 3px; }
  .simplesect > p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 14px; }

.simplesect-return {
  border-color: #505050; }

.simplesect-author, .simplesect-authors {
  border-color: #0BAA0B; }

.simplesect-version {
  border-color: #0BAA0B; }

.simplesect-since {
  border-color: #D48B0D; }

.simplesect-date {
  border-color: #505050; }

.simplesect-note {
  border-color: #15458C; }

.simplesect-warning {
  border-color: #D40D0D; }

.simplesect-pre {
  border-color: #505050; }

.simplesect-post {
  border-color: #505050; }

.simplesect-copyright {
  border-color: #505050; }

.simplesect-invariant {
  border-color: #505050; }

.simplesect-remark {
  border-color: #15458C; }

.simplesect-attention {
  border-color: #D48B0D; }

.simplesect-par {
  border-color: #505050; }

.simplesect-rcs {
  border-color: #505050; }

.simplesect-see {
  border-color: #0BAA0B; }

.member-list h2 {
  font-size: 2em;
  line-height: 1.2em; }

table.member-list-section td {
  padding-top: 0.1em;
  padding-bottom: 0.1em; }
table.member-list-section .member-prot {
  white-space: nowrap; }
table.member-list-section .member-desc {
  width: 100%; }
table.member-list-section .member-desc, table.member-list-section .member-name, table.member-list-section .member-type {
  font-size: 0.9em;
  margin-bottom: 0px;
  padding-bottom: 0px; }
table.member-list-section a, table.member-list-section p, table.member-list-section span {
  -webkit-margin-after: 0px;
  line-height: 1.5em;
  vertical-align: center; }
