

@mixin border-radius ($radius: 5px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}


body {
    padding-top: 25px;
}

h1 {
}

span.file-location {
    color: #BDBDBD;
}

.memberdef {
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 0px 2px 5px #CCC;

    @include border-radius(5);

    margin: 5px;
    padding: 5px;

    h3 {
        margin-top: 0px;
        padding-top: 3px;
        font-size: 20px;
        line-height: normal;
    }
}

table.compound-view tr {
    margin: 4px;

    td {
        font-size: 11px;
    }

    a {
        transition: background-color 0.1s;
        -webkit-transition: background-color 0.1s;

        display: block;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #FFF;
        height: 60px;
        
        background-color: #EEE;
        text-align: center;
        padding: 5px;
        color: #222;

        b {
            color: #0D5484;
        }
    }

    a:hover {
        text-decoration: none;
        background-color: #DDD;
    }
}

img {
    border-radius: 5px;
}

code {
    display: block;
    white-space: pre;
}

/** Needs a bit of resetting since it can turn out basically anywhere in the DOM */
.tooltip {
    margin: 0px;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    line-height: normal;
    white-space: normal;
    font-family: Hevetica, Arial, Sans-serif;
    text-shadow: none;

    p {
        display: inline;
        margin: 0px;
    }
}

.label {
    margin-right: 2px;
    margin-left: 2px;
}

.member-side-prot {
    position: absolute;
    left: -75px;
    width: 70px;
    text-align: right;

    span {
        margin-bottom: 3px;
    }
    //width: 100px;

}

.empty-section {
    font-size: 0.9em;
    color: #BBB;
}

.compound-kind {
    color: #888;
}

.simplesect {
    border-style: solid;
    border-width: 0px 0px 0px 4px;
    padding-left: 5px;

    h3 {
        font-size: 16px;
        line-height: normal;
        margin-top: 2px;

        margin-bottom: 3px;
    }

    > p {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 14px;
    }
}

.simplesect-return                          { border-color: #505050; }
.simplesect-author, .simplesect-authors     { border-color: #0BAA0B; }
.simplesect-version                         { border-color: #0BAA0B; }
.simplesect-since                           { border-color: #D48B0D; }
.simplesect-date                            { border-color: #505050; }
.simplesect-note                            { border-color: #15458C; }
.simplesect-warning                         { border-color: #D40D0D; }
.simplesect-pre                             { border-color: #505050; }
.simplesect-post                            { border-color: #505050; }
.simplesect-copyright                       { border-color: #505050; }
.simplesect-invariant                       { border-color: #505050; }
.simplesect-remark                          { border-color: #15458C; }
.simplesect-attention                       { border-color: #D48B0D; }
.simplesect-par                             { border-color: #505050; }
.simplesect-rcs                             { border-color: #505050; }
.simplesect-see                             { border-color: #0BAA0B; }


.member-list h2 {
    font-size: 2em;
    line-height: 1.2em;
}

table.member-list-section {

    td {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
    }

    .member-prot {
        white-space: nowrap;
    }
    .member-desc {
        width: 100%;
    }

    .member-desc, .member-name, .member-type {
        font-size: 0.9em;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    a, p, span {
        -webkit-margin-after: 0px;
        line-height: 1.5em;
        vertical-align: center;
    }
}